.new-note-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header {
    color: white;
}

.buttons {
    list-style: none;
    display: flex;
}

#cancel-button {
    padding: 20px;
    border-radius: 12px;
    font-size: 20px;
    margin-left: 55px;
    margin-right: 3px;
    background: white;
    transition: transform 0.2s ease-out;
}

#cancel-button:hover {
    background-color: #242425;
    color: white;
    transform: translateY(-5px) translateX(-3px)
}

#save-button {
    padding: 20px;
    border-radius: 12px;
    font-size: 20px;
    margin-right: 3px;
    background: white;
    transition: transform 0.2s ease-out;
}

#save-button:hover {
    background-color: #242425;
    color: white;
    transform: translateY(-5px) translateX(-3px)
}